.main {
  * {
    box-sizing: border-box;
  }
  .title-main {
    margin: 20px;
    text-align: center;
    font-size: 25px;
  }
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
  }
}

@media (max-width: 900px) {
  .main {
    .title-main {
      margin: 20px;
      text-align: center;
      font-size: 15px;
    }
    .cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 2rem;
      margin: auto;
      padding: 0;
      list-style-type: none;
    }
  }
}
